{% extends "layout.html" %}

{% block title %}
Анализатор страниц
{% endblock %}

{% block content %}
<div class="container">
	<div class="row justify-content-center">
		<div class="col-12 col-lg-8">
			<div class="border rounded bg-light p-4 p-md-5 mt-4">
				<h1 class="display-3 mb-2">Анализатор страниц</h1>

				<p class="fs-5 mb-3">Бесплатно проверяйте сайты на SEO-пригодность</p>

				<form action="{{ url_for('urls_post') }}" method="post">
					<div class="row g-3">
						<div class="col-12 col-md-8">
							<input type="url" name="url" required maxlength="255" class="form-control form-control-lg"
								placeholder="https://www.example.com" aria-label="URL сайта">
						</div>

						<div class="col-12 col-md-4 d-grid">
							<button type="submit" class="btn btn-primary btn-lg text-uppercase">
								Проверить
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
